mixin search-box()
  .box-search
    form(
      action="/search/result"
      method="GET"
      id="search-box"
    )
      .d-flex.justify-content-center.align-items-center
        input(
          type="text" 
          id="search-text" 
          placeholder="Bạn muốn đi đâu..." 
          required 
          name="keyword"    
          value=keyword
        )
        button(id="search-btn" type="submit") 
          i(class="bi bi-search")
    .inner-suggest
      .inner-list
