include ./tour-layout
include ./stars
mixin slide-tour()
  section#testimonials.testimonials.section-bg
    .container
      .section-title(data-aos='fade-in' data-aos-delay='100')
        h2 Các tour được yêu thích nhất
      .testimonials-slider.swiper(data-aos='fade-up' data-aos-delay='100')
        .swiper-wrapper.pb-2
          each item in tourTopLike
            .swiper-slide
              .testimonial-item
                img.testimonial-img.h-75(src=item.images[0] alt=item.title)
                a(href=`/detail/${item.slug}`)
                  h3 #{item.title}
                .heart.d-flex.justify-content-center
                  i(class="bi bi-heart-fill mx-1")
                  h4 #{item.like} lượt thích
                +stars()
        .swiper-pagination
