extends ../../layouts/default
include ../../mixins/moment
block main
  .container
    .row
      .col-3.d-flex.flex-column.nav-info-user
        include ../../partials/navbar
      .col-9.container.history-container
        if record.length > 0
          each item, index in record
            .card.booking-card
              .row
                .col-4
                  img.card-img-top(src=item.tourInfo.image alt=item.tourInfo.title)
                .col-8
                  .card-body
                    h5.card-title
                      i.bi.bi-geo-alt-fill
                      | Tour: #{item.tourInfo.title}
                    p.card-text
                      i.bi.bi-calendar-check
                      span.mx-2 Ngày đặt:
                      +formatDate(item.tourInfo.timeStart)
                    p.card-text
                      i.bi.bi-calendar-check
                      span.mx-2 Ngày đi:
                      +formatDate(item.tourInfo.expectedDate)
                    p.card-text
                      i.bi.bi-info-circle
                      span.m-2 #{item.tourInfo.title} - #{item.tourInfo.numberOfDays}
                    .d-flex.w-100.justify-content-between
                      a.btn.btn-primary(href='#') Xem chi tiết
                      if item.statusTrip === "Đã qua ngày đi"
                        button.btn.btn-primary(
                          feedback
                          data-id-user=user.id
                          data-id-tour=item.tourInfo.tourId
                        ) Đánh giá
                      i #{item.statusTrip}
        else
          p.text-center Bạn chưa có tour được đặt! 
block script 
  script(src="/client/js/history.js")
