extends ../../layouts/default
include ../../mixins/router
block main
  +router("roles", "Management", "Roles", "Detail")
  .row.bg-light.p-2.me-0
    .row
      if (role.title)
        h1(class="mb-3") #{role.title}
    .row
      .col-md-6
        if (role.status)
          div(class="mb-3")
            span Trạng thái:
            if (role.status === "active")
              span(class="text-success ms-1 fw-bolder") Hoạt động
            else
              span(class="text-danger ms-1 fw-bolder") Dừng hoạt động

    .row
      .col-md-12
        if (role.description)
          div(class="mb-3") 
            textarea.form-control.textarea-mce(
              id="desc"
              name="description"
              rows="6"
              class="w-100"
            ) #{role.description}
        else
          div(class="mb-3") 
            textarea.form-control.textarea-mce(
              id="desc"
              name="description"
              rows="6"
              class="w-100"
            )
    .row
      .col-md-4
        a(
          href=`${prefixAdmin}/roles/edit/${role.id}`
          class="btn btn-warning mb-2"
        ) Chỉnh sửa
