extends ../../layouts/default.pug
include ../../mixins/router
block main
  +router("roles", "Management", "Roles", "Edit")
  h1 Chỉnh sửa danh mục
  form(
    action=`/api/v1/roles/edit/${role.id}?_method=PATCH`
    id="form-edit-roles"
    method="POST"
    enctype="multipart/form-data"
    class="border border-1 p-4 me-3"
  )
    .row
      .col-4
        .row
          .form-group.mb-2 
            label(for="title" class="form-label") Tiêu đề
            input.form-control(
              type="text"
              id="title"
              name="title"
              required
              value=role.title
            )
        
      .col-8
        .row
          .col-3
            span Trạng thái:
          .col-4
            .form-group.form-check.form-check-inline.mb-2
              input(
                type="radio"
                class="form-check-input"
                id="statusActive"
                name="status"
                value="active"
                checked=(role.status == "active" ? true : false)
              )
              label(for="statusActive" class="form-check-label") Hoạt động
          .col-5
            .form-group.form-check.form-check-inline.mb-2
              input(
                type="radio"
                class="form-check-input"
                id="statusInActive"
                name="status"
                value="inactive"
                checked=(role.status == "active" ? false : true)
              )
              label(for="statusInActive" class="form-check-label") Dừng hoạt động
        .row
          .form-group.mb-2
            label(for="desc" class="form-label") Mô tả
            textarea.form-control.textarea-mce(
              id="desc"
              name="description"
              rows="6"
              value=role.description
            ) #{role.description}
        .row.w-25.m-1
          button.btn.btn-primary(type="submit") Cập nhật