extends ../../layouts/default.pug
include ../../mixins/filterStatus.pug
include ../../mixins/moment.pug
include ../../mixins/headerTable.pug
include ../../mixins/action.pug
block main
  - var link = "roles";
  .link-router.my-3
    a(href=`#` class="text-decoration-none ms-2 text-dark")
      i.fas.fa-columns.me-2
      span Management 
    span /
    a(href=`${prefixAdmin}/${link}` class="text-decoration-none ms-2")
      span Roles 
  .card
    .card-header
      i.fas.fa-table.me-1
      | Danh sách tour du lịch
    .card-body
      +header-table(link)
      if(roles.length > 0)
        table#datatablesSimple(checkbox-multi)
          thead
            tr
              th 
                input(class="form-check-input checkAll" type="checkbox" name="checkAll")
              th STT
              th Tên quyền
              th Trạng thái 
              th 
                span(class="actionAll") Hành động
          tbody
            each item, index in roles
              tr
                td 
                  input(
                    class="form-check-input"
                    type="checkbox"
                    name="check-item"
                    value=item.id
                  )
                td #{index + 1}
                td #{item.title}
                td
                  a(href="#" 
                    class="badge" 
                    data-status=item.status
                    data-id=item.id
                    link-change-status
                  ) 
                    i(
                      class=item.status === "active" ? "fa-solid fa-circle text-success" : "fa-solid fa-circle text-secondary"
                    )
                td
                  +actions(link, item)
      else
        p.text-center Chưa có quyền nào!  
  form(
    action=""
    method="POST"
    id="form-change-status"
    data-path=`${prefixAdmin}/${link}/change-status`
  ) 
  form(
    action=""
    method="POST"
    id="form-delete-record"
    data-path=`${prefixAdmin}/${link}/delete`
  )        