extends ../../layouts/default
include ../../mixins/time-start
block main
  section.breadcrumbs
    .container
      .d-flex.justify-content-between.align-items-center
        h2 #{tour.title}
        ol
          li
            a(href='/') Trang chủ
          li
            a(href='/tours') Danh mục
          li Chi tiết
  section#portfolio-details.portfolio-details
    .container
      .row
        .col-lg-7
          .portfolio-details-slider.swiper
            .swiper-wrapper.align-items-center
              each img in tour.images
                .swiper-slide
                  img(src=img alt=tour.title)
            .swiper-pagination
        .col-lg-5
          .portfolio-info
            h3 #{tour.title} 
            .info-tour
              i(class="bi bi-alarm me-1 text-warning")          
              span Thời lượng: #{tour.numberOfDays}
            .info-tour 
              i(class="bi bi-geo me-2 text-primary")
              span Khởi hành: #{tour.departureLocation}
            .info-tour
              i(class="bi bi-truck me-2")
              span Phương tiện: Ô tô
            .info-tour
              i(class="bi bi-calendar-check me-2")
              span Ngày hoạt động: Hàng ngày
            .d-flex
              p Giá người lớn:
              span.text-danger(data-price) #{tour.priceAdult} vnđ / người
            .d-flex.mt-0
              p Giá trẻ em - dưới 18 tuổi:
              span.text-danger(data-price) #{tour.priceChild} vnđ / người
            form(
              action=`/cart/add/${tour.id}`
              method="POST"
            )
              .quantityAdult
                span Số người lớn
                input(
                  class="form-control mb-2"
                  type="number"
                  name="quantityAdult"
                  value="1"
                  min="1"
                )
              .quantityChild
                span Số trẻ em
                input(
                  class="form-control mb-2"
                  type="number"
                  name="quantityChild"
                  value="0"
                  min="0"
                )
              .time
                p Chọn ngày dự kiến
                +time-start()
              .text-center.py-2
                button(type="submit" class="btn btn-outline-info rounded-pill") Thêm tour vào giỏ hàng
      .row
        h3 Mô tả và lịch trình
        .information
          #{tour.information}
  script(src="/client/js/time.js")
