extends ../../layouts/default
block main
  // ======= Breadcrumbs Section =======
  section.breadcrumbs
    .container
      .d-flex.justify-content-between.align-items-center
        h2 #{tour.title}
        ol
          li
            a(href='/') Trang chủ
          li
            a(href='/tours') Danh mục
          li Chi tiết
  // ======= Portfolio Details Section =======
  section#portfolio-details.portfolio-details
    .container
      .row
        .col-lg-7
          .portfolio-details-slider.swiper
            .swiper-wrapper.align-items-center
              each img in tour.images
                .swiper-slide
                  img(src=img alt=tour.title)
            .swiper-pagination
        .col-lg-5
          .portfolio-info
            h3 #{tour.title} 
            .info-tour
              i(class="bi bi-alarm me-1 text-warning")          
              span Thời lượng: #{tour.numberOfDays}
            .info-tour 
              i(class="bi bi-geo me-2 text-primary")
              span Khởi hành: #{tour.departureLocation}
            .info-tour
              i(class="bi bi-truck me-2")
              span Phương tiện: Ô tô
            .info-tour
              i(class="bi bi-calendar-check me-2")
              span Ngày hoạt động: Hàng ngày
            .d-flex.gap-3
              p.fs-4 Giá:
              span.text-danger.fs-4(data-price) #{tour.priceNew} vnđ
              span.text-decoration-line-through(data-price) #{tour.price} vnđ
            .text-center.py-2
              a(href='' class="btn btn-outline-info rounded-pill") Đặt ngay

      .row
        h3 Mô tả và lịch trình
        .information
          #{tour.information}