extends ../../layouts/default
include ../../mixins/sort
include ../../mixins/breadcrumb
include ../../mixins/pagination

block main
  +breadcrumbs(pageTitle, 'Bảng giá')
  .price-table.p-5
    h1.text-center.text-primary.f-bold Bảng giá
    +sort()
    table.table.table-hover.mb-5.table-bordered.table-narrow
      thead.table-primary
        tr
          th STT
          th Tên Tour
          th Thời lượng tour
          th Xuất phát
          th Giá người lớn
          th Giá trẻ em
          th Hành động
      tbody
        each item, index in tours
          tr
            td.text-center #{index + 1}
            td #{item.title}
            td #{item.numberOfDays}
            td #{item.departureLocation}
            td.text-end(data-price) #{item.priceAdult}
            td.text-end(data-price) #{item.priceChild} 
            td.text-center
              a(class="btn btn-outline-info btn-sm rounded-pill" 
                href=`detail/${item.slug}`
              ) XEM TOUR
    if(pagination)
      +pagination(pagination)
                