mixin form-change-multi(path)
  form(
    action=path
    method="post"
    form-change-multi
  ) 
    .d-flex.align-items-start.my-2
      .form-group
        select(name="type" class="form-control form-select form-select-sm")
          option(disabled selected) ---Chọn hành động---
          option(value="active") ---Hoạt động---
          option(value="inactive") ---Dừng hoạt động---
          option(value="deleted-all") ---Xóa tất cả---
      .form-group
        input(
          type="text"
          name="ids"
          value=""
          class="form-control d-none"   
      )
      button(type="submit" class="btn btn-primary btn-sm") Áp dụng