mixin featured()
  .col-3
    span Nổi bật :
  .col-3
    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="featured1"
        name="featured"
        value="1"
        checked
      )
      label(for="featured1" class="form-check-label") Có
  .col-4
    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="featured0"
        name="featured"
        value="0"
      )
      label(for="featured0" class="form-check-label") Không