extends ../../layouts/default.pug
include ../../mixins/filterStatus.pug
block main
  .link-router.my-3
    a(href=`#` class="text-decoration-none ms-2 text-dark")
      i.fas.fa-columns.me-2
      span Management 
    span /
    a(href=`${prefixAdmin}/categories` class="text-decoration-none ms-2")
      span Categories
  .card
    .card-header
      i.fas.fa-table.me-1
      | Danh sách danh mục
    .card-body
      .row.mb-3.border-bottom.pb-2
        .col-5
          +filter(filterStatus)
        .col-2.d-flex.justify-content-end.ms-auto
          a(href=`${prefixAdmin}/categories/create` class="ml-auto")
            button(class="btn btn-sm btn-outline-success") + Thêm mới
      if(categories.length > 0)
        table#datatablesSimple
          thead
            tr
              th 
                input(class="form-check-input checkAll" type="checkbox" name="checkAll")
              th STT
              th 
                span(class="imageAll") Hình ảnh
              th Tên danh mục
              th
                span(class="statusAll") Trạng thái
              th 
                span Người cập nhật gần nhất
              th 
                span(class="actionAll") Hành động
          tbody
            each item, index in categories
              tr
                td 
                  input(
                    class="form-check-input"
                    type="checkbox"
                    name="check-item"
                    value=item.id
                  )
                td #{index + 1}
                td 
                  img(
                    class="img-categories"
                    src=item.images[0]
                    alt=item.title
                    width="90px"
                    height="50px"
                  )
                td #{item.title}
                td
                  a(href="#" 
                    class="badge" 
                    data-status=item.status
                    data-id=item.id
                    link-change-status
                  ) 
                    if(item.status == "active")
                      i(class="fa-solid fa-circle text-success")
                    else
                      i(class="fa-solid fa-circle text-secondary")
                td Nguyễn Hân
                td
                  a(class="btn btn-primary btn-sm" 
                    href=`${prefixAdmin}/categories/detail/${item.id}`
                  )
                    i(class="fa-solid fa-eye")
                  a(class="btn btn-warning btn-sm mx-1" 
                    href=`${prefixAdmin}/categories/edit/${item.id}`
                  )
                    i(class="fa-solid fa-pen-to-square")
                  button(class="btn btn-danger btn-sm" 
                    data-id=item.id 
                    button-delete
                  )
                    i(class="fa-solid fa-trash")
                
      else
        p.text-center Chưa có danh mục nào!      