extends ../../layouts/default
include ../../mixins/filterStatus
include ../../mixins/moment
include ../../mixins/headerTable
include ../../mixins/action
include ../../mixins/formChangeStatus
include ../../mixins/formDelete
include ../../mixins/router
block main
  - var link = "categories";
  +router(link, "Management", "Categories")
  .card
    .card-header
      i.fas.fa-table.me-1
      | Danh sách danh mục
    .card-body
      +header-table(link, filterStatus)
      if(categories.length > 0)
        table#datatablesSimple(checkbox-multi)
          thead
            tr
              th 
                input(class="form-check-input checkAll" type="checkbox" name="checkAll")
              th STT
              th 
                span(class="imageAll") Hình ảnh
              th Tên danh mục
              th(class="text-center")
                span(class="statusAll") Trạng thái
              th 
                span Người cập nhật gần nhất
              th 
                span(class="actionAll") Hành động
          tbody
            each item, index in categories
              tr
                td 
                  input(
                    class="form-check-input"
                    type="checkbox"
                    name="check-item"
                    value=item.id
                  )
                td #{index + 1}
                td 
                  img(
                    class="img-categories"
                    src=item.images[0]
                    alt=item.title
                    width="90px"
                    height="50px"
                  )
                td 
                  span.float-start #{item.title}
                td(class="text-center")
                  a(href="#" 
                    class="badge" 
                    data-status=item.status
                    data-id=item.id
                    link-change-status
                  )
                    div.form-check.form-switch
                      input.form-check-input.fs-5(type='checkbox', id='flexSwitchCheckDefault', checked=item.status === "active")
                td 
                  - const updatedBy = item.updatedBy.slice(-1)[0];
                  p.float-start
                    | Nguyễn Hân
                  br
                  p.float-start 
                    +formatDateTime(updatedBy.updatedAt)
                td
                  +actions(link, item)
      else
        p.text-center Chưa có danh mục nào!      
  +formChangeStatus(link) 
  +formDelete(link)