extends ../../layouts/default.pug
include ../../mixins/tour-layout
block main
  section#portfolio.portfolio
    .container.mb-3
      .row
        .col-12
          h3 Kết quả tìm kiếm
      .row.portfolio-container(data-aos='fade-up')
        each item in tours
          .col-lg-4.col-md-6.portfolio-item.filter-app
            a(href=`/detail/${item.slug}`)
              .portfolio-wrap.tour-item.border.rounded
                img.img-fluid.img-tour(
                  src=item.image alt=item.title
                )
                if item.featured == "1"
                  .inner-featured.rounded Nổi bật
                .info-tour
                  span.title #{item.title} 
                .info-tour
                  i(class="bi bi-alarm me-1")          
                  span.numberOfDays #{item.numberOfDays}
                .info-tour Khởi hành: #{item.departureLocation}
                .stock Số lượng tour còn: #{item.stock}
                .d-flex
                  span.price-new(data-price) #{item.priceNew} vnđ
                  //- span.price-old.text-decoration-line-through(data-price) #{item.price} vnđ
                .text-center.py-2
                  button(class="btn btn-outline-info rounded-pill") XEM TOUR