extends ../../layouts/default
block main
  .m-2
    h1(class="mb-4") Thêm mới tài khoản
    form(
      action=`/api/v1/users/create`
      method="POST"
      enctype="multipart/form-data"
      id="create-user-form"
    )
      .row
        .col-6
          div(class="form-group")
            label(for="username") Họ tên *
            input(
              type="text"
              class="form-control"
              id="username"
              name="username"
              required
            )
          div(class="form-group")
            label(for="email") Email *
            input(
              type="email"
              class="form-control"
              id="email"
              name="email"
              required
            )
          .form-group.form-password
            label(for="password" class="form-label") Nhập mật khẩu
            input(type='password' id="password" name='password' placeholder='Nhập mật khẩu...' class="form-control" required)
            .eye
              i(class="fa-solid fa-eye eye-pass")
          div(class="form-group")
            label(for="phone") Số điện thoại
            input(
              type="text"
              class="form-control"
              id="phone"
              name="phone"
            )
          if(roles)
            div(class="form-group")
              label(for="role_id") Phân quyền
              select(name="role_id" id="role_id" class="form-control form-select")
                option(disabled selected="selected") -- Cấp quyền cho tài khoản --
                each item in roles
                  option(value=item.id) #{item.title}
          div(class="form-group form-check form-check-inline")
            input(
              type="radio"
              class="form-check-input"
              id="statusActive"
              name="status"
              value="active"
              checked
            )
            label(for="statusActive" class="form-check-label") Hoạt động
          div(class="form-group form-check form-check-inline")
            input(
              type="radio"
              class="form-check-input"
              id="statusInActive"
              name="status"
              value="inactive"
            )
            label(for="statusInActive" class="form-check-label") Dừng hoạt động
        .col-4
          .form-group.mb-2(upload-image)
            label(for="avatar") Ảnh đại diện
            input.form-control(
              type="file"
              class="form-control-file"
              id="avatar"
              name="avatar"
              accept="image/*"
              upload-image-input
            )
            img(
              src=""
              upload-image-preview
              class="image-preview"
              width="150px"
              height="150px"
            )
          
        div(class="form-group")
          button(
            type="submit"
            class="btn btn-primary"
          ) Tạo mới
block script
  script(src="/admin/js/eye-password.js")
