extends ../../layouts/default.pug
include ../../mixins/filterStatus.pug
include ../../mixins/moment.pug
include ../../mixins/headerTable.pug
block main
  .link-router.my-3
    a(href=`#` class="text-decoration-none ms-2 text-dark")
      i.fas.fa-columns.me-2
      span Management 
    span /
    a(href=`${prefixAdmin}/tours` class="text-decoration-none ms-2")
      span Tours 
  .card
    .card-header
      i.fas.fa-table.me-1
      | Danh sách tour du lịch
    .card-body
      - var link = "tours";
      +header-table(link)
      if(tours.length > 0)
        table#datatablesSimple(checkbox-multi)
          thead
            tr
              th 
                input(class="form-check-input checkAll" type="checkbox" name="checkAll")
              th STT
              th Tên Tour
              th Còn lại
              th Thời lượng
              th Giá
              th Trạng thái
              th Danh mục
              th 
                span(class="actionAll") Hành động
          tbody
            each item, index in tours
              tr
                td 
                  input(
                    class="form-check-input"
                    type="checkbox"
                    name="check-item"
                    value=item.id
                  )
                td #{index + 1}
                td #{item.title}
                td #{item.stock}
                td #{item.numberOfDays}
                td 
                  span(data-price) #{item.price}
                td
                  a(href="#" 
                    class="badge" 
                    data-status=item.status
                    data-id=item.id
                    link-change-status
                  ) 
                    i(
                      class=item.status === "active" ? "fa-solid fa-circle text-success" : "fa-solid fa-circle text-secondary"
                    )
                td 
                  if(categories)
                    each category in categories
                      if category.id === item.tour_category_id
                        p #{category.title}
                td
                  a(class="btn btn-primary btn-sm btn-action" 
                    href=`${prefixAdmin}/tours/detail/${item.id}`
                  )
                    i(class="fa-solid fa-eye")
                  a(class="btn btn-warning btn-sm mx-1 btn-action" 
                    href=`${prefixAdmin}/tours/edit/${item.id}`
                  )
                    i(class="fa-solid fa-pen-to-square")
                  button(class="btn btn-danger btn-sm btn-action" 
                    data-id=item.id 
                    button-delete
                  )
                    i(class="fa-solid fa-trash")
      else
        p.text-center Chưa có tour du lịch nào!  
  form(
    action=""
    method="POST"
    id="form-change-status"
    data-path=`${prefixAdmin}/tours/change-status`
  ) 
  form(
    action=""
    method="POST"
    id="form-delete-record"
    data-path=`${prefixAdmin}/tours/delete`
  )        