extends ../../layouts/default
include ../../mixins/statistic
block main
  .m-2
    .row.mt-4
      .col-12
        .card.mb-4
          //- .card-header Thông tin tài khoản
          //- .card-body
          //-   if(user.avatar)
          //-     img(
          //-       src=user.avatar
          //-       style="height: 100px;margin-bottom: 15px;"
          //-     )
          //-   if(user.fullName)
          //-     p Họ tên: <b>#{user.fullName}</b>
          //-   if(user.email)
          //-     p Email: <b>#{user.email}</b>
          //-   if(user.phone)
          //-     p Số điện thoại: <b>#{user.phone}</b>
          //-   if(role.title)
          //-     p Phân quyền: <b>#{role.title}</b>
      .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
        h1.h2 Dashboard
      .row
        .col-md-3
          .card.text-white.bg-primary.mb-3
            +statistic("Danh mục", statistic.categories)
        .col-md-3
          .card.text-white.bg-info.mb-3
            +statistic("Tour", statistic.tours)
        .col-md-3
          .card.text-white.bg-success.mb-3
            +statistic("Tour đã đặt", statistic.booking)
        .col-md-3
          .card.text-white.bg-secondary.mb-3
            +statistic("Tài khoản", statistic.user)
