extends ../../layouts/default
include ../../mixins/breadcrumb
include ../../mixins/moment
block main
  +breadcrumbs('Giỏ hàng', 'Giỏ hàng')
  section.mt-0.pt-0
    .container.my-3
      .row
        .col-12
          h2 Các tour đã đặt
      .row
        table.table.table-hover.mb-5.table-bordered.table-narrow
          thead.table-primary
            tr
              th STT
              th Ảnh
              th Tên
              th Ngày dự kiến
              th Giá tiền/ 1 người lớn
              th Giá tiền/ 1 trẻ em
              th Số người lớn
              th Số trẻ em
              th Tổng tiền
              th Hành động
          tbody
            if cart && cart.tours.length > 0
              each item, index in cart.tours
                tr
                  td.text-center #{index+1}
                  td
                    img(src=item.tour.images[0], alt=item.tour.title width="80px")
                  td
                    a.text-dark(href=`/detail/${item.tour.slug}`) #{item.tour.title}
                  td 
                    +formatDate(item.expectedDate)
                  td.text-end(data-price) #{item.tour.priceAdult} vnđ
                  td.text-end(data-price) #{item.tour.priceChild} vnđ
                  td
                    input(
                      type="number"
                      name="quantityAdult"
                      value=item.quantityAdult
                      min="1"
                      tour-id=item.tour_id
                      style="width: 60px"
                    )
                  td
                    input(
                      type="number"
                      name="quantityChild"
                      value=item.quantityChild
                      min="0"
                      tour-id=item.tour_id
                      style="width: 60px"
                    )
                  td.text-end(data-price) #{item.totalPrice} đ
                  td.text-center
                    a.me-2(
                      href=`/api/v1/cart/delete/${item.tour_id}`
                      class="btn btn-outline-danger"
                    ) Hủy
                    a(
                      href=`/booking/${item.tour_id}`
                      class="btn btn-success"
                    ) Đặt ngay
            else
              p Chưa có tour nào trong giỏ hàng
      .row
        .col-5.d-flex
          p(class="text-right") Tổng tiền:&nbsp;
          span
          span(data-price) #{cart.totalPrice}
  script(src="/client/js/cart.js")
